@media screen and (min-width: 1440px) {
.container-ad{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: -2rem;
  padding: 1rem;
}
.ad-image1 img  {
  position: relative;
  width: 70rem;
  left: -0.6rem;
  cursor: pointer;
  height: 10rem;
  object-fit: contain;
}

.ad-image2 img {
  position: relative;
  width: 70rem;
  left: 0.5rem;
  cursor: pointer;
  height: 10rem;
  object-fit: contain;
}
}
/* @media screen and (max-width: 768px) {
    .container-ad{
        display: flex;
        position: relative;
        flex-direction: column;
        left: -35rem;
        justify-content: center;
        align-items: center;
}
  .ad-image1 img{
    position: relative;
    width: 60rem;
    left: 37rem;  
    bottom: -2rem;
    height: auto;
    display: flex;
}
   .ad-image2 img {
    position: relative;
    width: 60rem;
    bottom: -2rem;
    left: 37rem;
    bottom: -3rem;
    height: auto;
    display: block;
} */
/* } */
@media screen and (max-width: 1400px) {
 .container-ad{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: -2rem;
  padding: 1rem;
}
.ad-image1 img  {
  position: relative;
  width: 61rem;
  left: -0.6rem;
  cursor: pointer;
  height: 10rem;
  object-fit: contain;
}

.ad-image2 img {
  position: relative;
  width: 61rem;
  left: 0.5rem;
  cursor: pointer;
  height: 10rem;
  object-fit: contain;
}
}
@media screen and (max-width: 1024px) {
    .container-ad{
      width: 90%;
        display: flex;
        position: relative;
        flex-direction: column;
        left: -38rem;
        bottom: 1rem;
        justify-content: center;
        align-items: center;
}
  .ad-image1 img{
    position: relative;
    width: 70rem;
    left: 42rem;  
    bottom: -2rem;
    height: auto;
    display: flex;
}
   .ad-image2 img {
    position: relative;
    width: 70rem;
    bottom: -2rem;
    left: 42rem;
    bottom: -3rem;
    height: auto;
    display: block;
    
}
}
@media screen and (max-width: 768px) {

   .container-ad{
  bottom: 1rem;
  left: -33rem;
 }
 
  .ad-image1 img{
    position: relative;
    width: 69rem;
    left: 37rem;  
    bottom: -2rem;
    height: auto;
    display: flex;
}
   .ad-image2 img {
    position: relative;
    width: 69rem;
    bottom: -2rem;
    left: 37rem;
    bottom: -3rem;
    height: auto;
    display: block;
    padding-bottom: 1rem;
    
}

}
@media screen and (min-width:421px) and (max-width:480px){
.container-ad{
  bottom: 1rem;
  left: -34rem;
 }
.ad-image1 img{
    position: relative;
    width: 95%;
    left: 37rem;  
    bottom: -2rem;
    height: auto;
    display: flex;
}
   .ad-image2 img {
    position: relative;
    width: 95%;
    bottom: -2rem;
    left: 37rem;
    bottom: -3rem;
    height: auto;
    display: block;
    padding-bottom: 1rem;
    
}
}
@media screen and (min-width: 320px) and (max-width: 420px) {
 .container-ad{
  bottom: 1rem;
  left: -34rem;
 }
 
  .ad-image1 img{
    position: relative;
    width: 95%;
    left: 37rem;  
    bottom: -2rem;
    height: auto;
    display: flex;
}
   .ad-image2 img {
    position: relative;
    width: 95%;
    bottom: -2rem;
    left: 37rem;
    bottom: -3rem;
    height: auto;
    display: block;
    padding-bottom: 1rem;
    
}}
@media screen and (min-width:1700px) {
  .container-ad{
    width: 90%;
    flex-direction: row;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  bottom: -2rem;
  padding: 1rem;
  margin: 0 auto;
}
.ad-image1 img  {
  position: relative;
  width: 45vw;
  left: -0.6rem;
  cursor: pointer;
  height: 10rem;

  object-fit: fill;
}

.ad-image2 img {
  position: relative;
  width: 45vw;
  /* left: 1rem; */
  cursor: pointer;
  height: 10rem;
  object-fit: fill;
}
  
}


