.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.pagination button {
  padding: 0.8rem;
  font-size: 1.2rem;
  background: none;
  border: none;
  color: #7aa94b;
  cursor: pointer;
}

.pagination button:hover {
  border-radius: 1.2rem;
  color: white;
  background-color: #7aa94b;
}

.pagination .active-page {
  color: white;
  background-color: #7aa94b;
  border-radius: 1.2rem;
}
