main {
  margin-top: 5rem;
}

.details {
  padding-right: 5rem;
}

.details .title {
  font-size: 4rem;
  line-height: 6rem;
  font-weight: 700;
}

.details .date {
  display: flex;
  align-items: center;
  font-weight: 500;
  margin: 2rem 0;
}

.details .date p {
  text-transform: capitalize;
  margin-right: 1rem;
}

.details .date label {
  color: grey;
  cursor: auto;
}

.details .socialShare {
  display: flex;
  margin-bottom: 2rem;
  gap: 0rem 2rem;
}

.details img {
  width: 100%;
  height: 60rem;
  object-fit: fill;
  margin: 3rem 0;
}

.desc p {
  /* margin: 2rem 0; */
  height: max-content;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3rem;
  height: max-content;
  color: #fff;
}

.singleAd img {
  height: 10rem;
  object-fit: contain;
}
    .socialShare a {
    height: 5rem;
    color: #ffffff;
    background-color: #033375;
    width: 20rem;
    border-radius: 1rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    
  }
  .socialShare  {
    width:50rem;
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
.news-attachments {
  margin-top: 2rem;
}

.attachments-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 12px;
}

.attachments-grid img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}
@media screen and (max-width: 1000px) {
  .details {
    padding-right: 0;
  }

  .details img {
    width: 100%;
  }

  .social {
    width: 70rem;
    justify-content: space-between;
    flex-direction: row;
  }
  .socbox {
    padding-top: 1rem;
    width: 20rem;
    display: flex;
    
    
    left: -10rem;
  }
    .socialShare a {
    height: 5rem;
    color: #ffffff;
    background-color: #033375;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    
  }
  .socialShare  {
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .details .social a {
    width: 15rem;
  }

  .details .title {
    font-size: 3rem;
  }

  .details .social span,
  .details .social i {
    font-size: 1.2rem;
  }

  .details .date {
    font-size: 1.2rem;
  }
  .social{
    width: 100%;
    
    justify-content: space-between;
    flex-direction: column;
    
    align-items: center;
  }
  .socialShare a {
    height: 5rem;
    color: #ffffff;
    background-color: #033375;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  .socialShare  {
    width:100%;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}
