 
  
    .accordion {
  display: none;  
}
@media screen and (max-width:1024px){
  .accordion{
    display: flex;
    width: 100%;
    padding: 5rem;
    gap: 1rem ;
    flex-direction: row;
    justify-content: space-between;
  }
  .linksInsta{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin: 0;
    width: 1rem;
    list-style: none;
    overflow-y: auto;
    height: 20rem;
  }
  .accordion .linksInsta{
    width: 22rem;
  }
 
  .accordion-button {
  background-color: #235185;
  color: white;
  cursor: pointer;
  height: 4rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  text-align: center;
  outline: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}
.accordion-button.active {
  background-color: #1d3f6b;
}
.accordionPai {
  text-align: center;
  width: 45rem;
  background-color: transparent;
  margin-bottom: 1rem;
}
.accordionFilho {
  width: 20rem;
  background-color: transparent;
  text-align: start;
}
.linksPai, .linksPai2 {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin: 0;
    list-style: none;
    overflow-y: auto;
    height: 20rem;
    
    
}
.linksPai li, .linksPai2 li {
  margin: 0;
}

  .linksFace {
    display: none;
}
#flexLinksFace {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  height: 20rem;

}
#flexLinksPortal1 {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  height: 20rem;

}
.buttons{
  display: flex;
  position: relative;
  left:-42rem;
}

.linksEns {
  overflow-y: auto;
  height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin: 0;
    list-style: none;
}
}

@media  screen and (max-width: 768px) {
.accordion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: none;
  border-radius: 0;
  position: relative;
  left: -8rem;
  box-shadow: none;
  margin: 1rem;
  width: 46rem;
  
  
}
.accordionPai{
  text-align: center;
  align-items: center;
}



.accordion-button {
  background-color: #235185;
  color: white;
  cursor: pointer;
  height: 4rem;
  width: 12rem;
  
  border: none;
  border-radius: 5px;
  text-align: center;
  outline: none;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}


.accordion-button.active {
  background-color: #1d3f6b;
}


.accordionPai {
  width: 35rem;
  text-align: center;
  background-color: transparent;
  margin-bottom: 1rem;
}


.accordionFilho {
  background-color: transparent;
  text-align: start;
  max-width: 30rem;
  
}


.linksEns {
  overflow-y: auto;
  height: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    margin: 0;
    list-style: none;
    
    
}


.linksPai li, .linksPai2 li {
  margin: 0;
}
 
  .legal .buttons{
    position: relative;
    left: -80rem;
    bottom: -1.5rem;
    
    gap: 1rem;

  
  }
  

}
@media  screen and (min-width: 320px) and (max-width: 480px) 
{
  .accordion {
    width: 10rem;
    position: relative;
    left: 1.5rem;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  .accordionPai {
    width: 15rem;
    text-align: center;
    background-color: transparent;
    margin-bottom: 1rem;
  }
  .accordion-button {
    width: 12rem;
    justify-content: center;
    height: 4rem;
    font-size: 1.2rem;
    padding: 0 1rem;
  }
  .accordionFilho {
    max-width: 20rem;
    max-height: 20rem;
    overflow-y: auto;
    transition: max-height 0.3s ease-out;
    scrollbar-width: thin;
    
  }
  .legal .buttons{
    position: relative;
    left: -33.5rem;
    bottom: 0rem;
    
    gap: 1rem;

  
  }
}

