/* AD */
.banner {
  display: flex;
  justify-content: center;
  margin: 4rem 0;
  
}

.banner img {
  width: 30rem;
  object-fit: cover;
}

/* Category */
.catgorys .category1 {
  position: relative;
  margin-bottom: 2rem;
  padding: 1rem;
}

.category1 {
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .banner {

    display: flex;
      flex-direction: row;
    
    position: relative;
    justify-content: center;
    margin: 2rem 0;
    /* left: -7rem; */
  }
  .banner img {
    width: 20rem;
    object-fit: cover;
  }
  
}
@media screen and (max-width: 768px) {
.banner {
  width: 90%;
  display: flex;
  left: 4rem;
  position: relative;
  flex-direction: row;
  gap: 1rem; 
  justify-content: center;
  margin: 2rem 0; 
}

 .banner img{
  width: 30rem; 
  object-fit: cover;
  
  
 }  

}
@media screen and (max-width: 600px) {
  .banner {
    display: flex;
    position: relative;
    left: 1rem;
    
    flex-direction: row;
    gap: 1rem; 
    justify-content: center;
    margin:  2rem; 
  }
  
   .banner img{
    width: 20rem; 
    object-fit: cover;
   }  
  
}
@media screen and (max-width: 425px) {
  .banner {
    display: flex;
    position: relative;
    left: 1rem;
    flex-direction: row;
    gap: 1rem; 
    justify-content: center;
    margin: 2rem 0; 
  }
  
   .banner img{
    width: 20rem; 
    object-fit: cover;
   }  
}