footer {
  width: 100%;
  padding: 5rem 2rem;
  margin-top: 5rem;
  color: #fff;
  background-color: #7aa94b;
}

footer h1,
footer i,
footer .logo,
footer p,
footer span {
  cursor: auto;
}

footer i {
  color: #c45048;
}
.links.two-columns {
  display: flex;
  gap: 1rem;
}
.links.two-columns .col {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.links.two-columns a {
  margin-bottom: 0.25rem;
}

.containerFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
  max-height: 90rem;
}
footer .linksFace {
  
 grid-template-columns: 2fr 1fr;
 width: 45rem;
  display: grid;
  gap: 0rem;
  position: relative;
  padding-top: 1.5rem;
}
footer .gpFace {
  line-height: 2.2rem;
  display: flex;
  position: relative;
  flex-direction: column;
}
footer .gpFace h1 {
  width: 20rem;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  
}
footer .gpInsta{line-height: 2.2rem;}
footer .linksRegioes h1{
  width: 20rem;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
footer .gpInsta h1{
  width: 20rem;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  
}
.sobreNos h1{
  width: 20rem;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  
}
.expediente{
  font-size: 1rem;
  flex-direction: column;
  gap: 0.5rem;
  position: relative;
  padding-top: 1.5rem
}
.logoFooter img{
  
  position:relative;
  flex-direction: column;
  bottom: 10rem;

  
}
.gpInsta{
  width: 20rem;
  display: flex;
  position: relative;
  flex-direction: column;
  left:0rem;
}
.gpInsta a{
  width: 20rem;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}
footer .linksFace a{
  width: 20rem;
}
footer .linksInsta {
  display: flex;
  width: 20rem;
  display: grid;
  gap: 0rem;
  left: -55rem;
  /* position: relative; */
  padding-top: 1.5rem;
}
footer .linksBox,
footer .linksRegioes,
footer .linksMunicipios,
footer .box {
  /* flex: 1 1 30%; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer .linksBox {
  gap: 2rem;
}

footer .links {
  display: grid;
  width: 40rem;
  justify-items: start;
  gap: 0.7rem 1rem;
}

/* Regiões com 2 colunas */
footer .linksRegioes .links {
  grid-template-columns: repeat(2, 1fr);
  gap:   4.5rem;
  width: 107%;
}

/* Municípios com 4 colunas */
footer .linksMunicipios .links {
  grid-template-columns: repeat(4, 1fr);
}

footer a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
}

footer a i {
  margin-right: 0.5rem;
}

footer a::after {
  content: "";
  width: 0;
  height: 0.1rem;
  margin-top: 0.3rem;
  display: block;
  background-color: #c45048;
  transition: width 0.3s ease;
}

footer a:hover::after {
  width: 100%;
}

footer .banner {
  margin: 0;
  margin-top: 5rem;
}

footer .banner img {
  width: max-content;
  height: 10rem;
  object-fit: contain;
}

footer .banner a::after {
  display: none;
}

footer .box {
  align-items: center;
  text-align: center;
  padding: 1rem;
  gap: 3rem;
}

footer .logo {
  width: 30rem;
  height: 15rem;
}
.logoFooter{
  position: absolute;
  left: 20rem;
}
.footer-links .logoFooter img { 
  position: absolute;
  display: flex;
  left: 200rem;
  bottom: 6.5rem;
  width: 20rem;
  height: 20rem;
  object-fit: contain;
  
}
/* .footer-links p{
  font-size: 1rem;
  color: #fff;
  margin-top: 0.5rem;
} */
.sobreNos{
  
  position: relative;
  flex-direction: column;
  
  
}
.sobreNosLinks{
font-size: 1rem;
flex-direction: column;
gap: 0.5rem;
position: relative;
padding-top: 1.3rem
}
.sobreNos h1{
  width: 20rem;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  
}
.sobreNos a{
  width: 20rem;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
}



footer .text span {
  display: block;
  margin-top: 0.7rem;
}
.copyright {
  position: relative;
  justify-content: center;
  bottom: 2rem;
  font-size: 1.3rem;
  color: #fff;
  
}

.legal {
  height: 8rem;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  background-color: #426044;
  color: #ffffff;
  text-align: center;
  font-size: 0.8rem;
}
.legal a {
  color: #426044;
  text-decoration: none;
}
.buttons {
  width: 50%;
  display: flex;
  position: relative;
  bottom: -1rem;
  gap: 1rem;
  left: 56rem;
  margin-top: 0.5rem;
}
.buttons button {
  background-color: #deb940;
  position: relative;
  color: #426044;
  border: none;
  height: 5rem;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem ; 
  width: 10rem;
  left: 78rem;
  cursor: pointer;
  font-size: 1.5rem;
  transition: background-color 0.3s ease;
}


/* Links inferiores */
footer .footer-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 2.4rem;
  color: grey;
  margin-bottom: 1rem;
}

footer .footer-links a {
  color: grey;
  text-decoration: none;
  position: relative;
}


footer .footer-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #c45048;
  left: 0;
  bottom: -2px;
  transition: 0.3s;
}

footer .footer-links a:hover::after {
  width: 100%;
}

footer .footer-links span {
  color: grey;
}
#botaoHome {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 4rem;
  height: 4rem;
  scroll-behavior: smooth !important;
  background-size: cover;
  border: none;
  cursor: pointer;
  z-index: 1000;
}
#botaoHome img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
#botaoHome::after {
  text-decoration: none;
  background-color: transparent;
  text-transform: none;
}
.gpFace{
  display: flex;
  position: relative;
  flex-direction: column;
  left:4rem;
  
}


/* RESPONSIVO */
@media screen and (max-width: 1920px) {
.footer-links .logoFooter img {
    position: absolute;
    display: flex;
    left: 145rem;
    bottom: 6.5rem;
    width: 20rem;
    height: 20rem;
    object-fit: contain;
}
.buttons {
        display: flex;
        position: relative;
        left: 45rem;
        margin-top: 0.5rem;
    }
}
@media screen and (max-width: 1700px) {
  .footer-links .logoFooter img { 
  position: absolute;
  display: flex;
  left: 110rem;
  bottom: 6.5rem;
  width: 20rem;
  height: 20rem;
  object-fit: contain;
}
.buttons {
  width: 50%;
  display: flex;
  position: relative;
  bottom: -1rem;
  gap: 1rem;
  left: 30rem;
  margin-top: 0.5rem;
}

}
@media screen and (max-width: 1440px) {
  footer .two {
    display: none;
  }
.logoFooter{
  /* position: relative; */
  left: 10rem;
}
.buttons{
  left: 0;
}
  footer .links {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 1380px) {
  footer .two {
    display: none;
  }
.logoFooter{
  /* position: relative; */
  left: 4rem;
}
.buttons{
  left: 12rem;
}
  footer .links {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .linksPortal{
  display: none;

}
.gpInsta{
  display: none;

}
.sobreNos{
  display: none;

}
footer .linksRegioes h1 {
  display: none;
}
footer .gpInsta h1{
display: none;
}
  footer {
    padding: 0;
  }
.logoFooter{
  display: none;
}
  .containerFooter {
    
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  footer .linksBox,
  footer .linksRegioes,
  footer .linksMunicipios,
  footer .box {
    width: 100%;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
  }

  footer .banner {
    display: none;
  }

  footer .linksRegioes .links,
  footer .linksMunicipios .links {
    display: none;
    flex-direction: column;
    align-items: center;
  }

  footer .links {
    flex-direction: row;
    font-size: 1.3rem;
  }

  footer .box {
    width: 48rem;
    flex-direction: row;
    align-items: center;
    text-align: start;
    font-size: 1.2rem;
    gap: 0.5rem;
  }

  footer .logo {
    width: 20rem;
    height: 10rem;
    margin-right: 1rem;
  }

  footer .footer-links {
    font-size: 1.2rem;
    gap: 1rem;
  }
  footer .gpFace{
    display: none;

  }
  .copyright {
    font-size: 0.8rem;
    text-align: center;
    bottom: -1rem;
  }
  .buttons{
    position: absolute;
    left: -32rem;
    bottom: 0rem;
    gap: 1rem;
    
  }
  .buttons button{
    
    width: 8rem;
    height: 4rem;
    font-size: 1.3rem;
    position: relative;
    bottom: 2rem;
    gap: 4rem;
  }
  #botaoHome {
    bottom: 9rem;
    right: 1rem;
  }
}

@media screen and (max-width: 600px) {
  footer {
    padding: 3rem 1rem;
  }

  footer a {
    font-size: 1rem;
  }

  .containerFooter {
    max-height: 90rem;
  }

  footer .box {
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    font-size: 1.2rem;
  }

  footer .logo {
    width: 18rem;
  }

  .legal {
    font-size: 0.9rem;
  }

  footer .footer-links {
    flex-direction: column;
    gap: 0.8rem;
    font-size: 1rem;
    text-align: center;
  
}
.linksPortal{
  display: none;

}
.buttons {
    position: relative;
    /* left: -40rem; */
    bottom: -1rem;
    gap: 0.5rem;
  }
  .buttons button{
    width: 6rem;
    height: 3rem;
    font-size: 0.9rem;
    position: relative;
    left: 46rem;
    
    bottom: 1rem;
  }
  #botaoHome {
    bottom: 6rem;
    right: 3rem;
    
  }
  .copyright {
    font-size: 0.7rem;
    
    text-align: center;
}
}


@media screen and (max-width: 991px) {
 .linksPortal{
  display: none;

}
.copyright {
    font-size: 0.8rem;
    text-align: center;
    bottom: -1rem;
  }

  footer {
    padding: 3rem 1rem;
  }

  .containerFooter {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  footer .linksBox,
  footer .linksRegioes,
  footer .linksMunicipios,
  footer .box {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  footer .gpFace{
    display: none;
  }

  footer .linksRegioes .links {
    display: none;
    flex-direction: column;
    align-items: self-start;

  }
  
  footer .linksMunicipios .links {
    display: flex;
    height: 60px;
    flex-direction: column;
    align-items: self-start;
    
    gap: 0.4rem;
    
  }

  footer .links {
    font-size: 1.2rem;
    gap: 0.5rem;
  }

  footer .box {
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
  }

  footer .logo {
    width: 18rem;
    height: auto;
  }

  footer a {
    font-size: 1rem;
  }

  .legal {
    font-size: 0.95rem;
    padding: 1rem;
    text-align: center;
  }

  footer .footer-links {
    flex-direction: column;
    align-items: center;
    font-size: 1.1rem;
    gap: 1rem;
  }

  footer .banner {
    display: none;
  }
  .buttons button {
    position: relative;
    gap: 0.5rem;
  }

}
@media screen and (max-width: 425px) {
  .buttons button {
    position: relative;
    gap: 0.5rem;
    left: 45.5rem;
    bottom: 1rem;
    width: 6.5rem;
    height: 2.5rem;
    font-size: 1rem;
  }
  
}
@media screen and (min-width: 425px) and (max-width: 480px) {
  .buttons button {
    position: relative;
    gap: 0.5rem;
    left: 47.5rem;
    bottom: 1rem;
    width: 6rem;
    height: 2.5rem;
    font-size: 0.9rem;
  }
  
}
@media screen and (min-width: 481px) and (max-width: 600px) {
  .buttons button {
    position: relative;
    gap: 0.5rem;
    left: 43rem;
    bottom: 1rem;
    width: 6rem;
    height: 3rem;
    font-size: 0.9rem;
  }
  
}
@media screen and (min-width: 601px) and (max-width: 768px) {
  .buttons button {
    
    position: relative;
    gap: 0.5rem;
    /* left: 90rem; */
    float: left;
    bottom: 3rem;
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .buttons button {
    position: relative;
    gap: 0.5rem;
    left: 90rem;
    bottom: 2rem;
    width: 8rem;
    height: 4rem;
    font-size: 1.1rem;
  }
  
}
@media screen and (max-width:320px){
    .buttons button {
    position: relative;
    gap: 0.5rem;
    left: 42.5rem;
    bottom: 1rem;
    width: 6rem;
    height: 2.5rem;
    font-size: 0.9rem;
  }
}